body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden !important;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
.play-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
	transition: all 0.2s ease;
}
.play-icon:hover {
	color: #ffffffc9 !important;
}
.list-inline-item .btn-outline-info {
	color: #5a606b;
	border: 1px solid #5a606b;
	border-radius: 25px;
	margin-bottom: 10px;
	font-weight: 500;
	outline: none !important;
}
.list-inline-item .btn-outline-info:hover {
	color: #ffffff;
	background: transparent;
	border-color: #ffffff;
	transition: all 0.2s ease-in-out;
}
.list-inline-item .btn-outline-info:active {
	outline: none !important;
}
.arrow-right {
	color: #f4c10f;
	font-size: 30px;
	font-weight: bold;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}
.arrow-right:hover {
	color: #ffffff;
}
.overlay,
.detail-overlay {
	position: relative;
}
.overlay::before,
.detail-overlay::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
	background: linear-gradient(
		360deg,
		rgba(0, 0, 0, 1) 0%,
		rgba(255, 255, 255, 0) 75%
	) !important;
	z-index: 9;
}
@media screen and (max-width: 767px) {
	.list-inline-item .btn-outline-info {
		font-size: 0.75rem;
		padding: 0.275rem 0.7rem;
	}
	.mobile {
		font-size: 16px !important;
		padding-bottom: 0 !important;
		margin-bottom: -15px !important;
	}
	.play-icon {
		font-size: 55px !important;
	}
	.play-icon:hover {
		color: #ffffffc9 !important;
		transition: all 0.2s ease;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.persons {
		width: 160px;
	}
	.mobile {
		font-size: 16px !important;
		padding-bottom: 0 !important;
		margin-bottom: -10px !important;
	}
	.play-icon {
		font-size: 65px !important;
	}
	.play-icon:hover {
		color: #ffffffc9 !important;
		transition: all 0.2s ease;
	}
}
